<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %> 

<body class="container">
    <%- include("../partials/header", {pagina:"Sobre"}); %> 
    <main>
        <div class="jumbotron">
            <h1 class="display-4">Olá, Sou Lohan Amendola</h1>
            <p class="lead">Estou trilhando o caminho de aprendizado do NodeJS.</p>
            <hr class="my-4">
          </div>
    </main>

    <%- include("../partials/footer"); %> 

</body>
</html>